<div class="grid">
  <div class="col-12 md:col-12">
    <div class="card">
      <div class="flex flex-column md:flex-row gap-5" style="min-height: 81vh;">
        <div class="md:w-25rem card p-0">
<!--          <app-chat-sidebar>-->
            <div class="flex flex-column align-items-center border-bottom-1 surface-border p-6"><img
              src="assets/demo/images/avatar/circle/avatar-f-1@2x.png" alt="Asiya Javayant"
              class="w-6rem h-6rem border-circle shadow-4"><span class="text-900 text-xl font-semibold mt-4">Asiya Javayant</span>
            </div>
            <div class="w-full flex row-gap-4 flex-column surface-border p-4"><span class="p-input-icon-left w-full"><i
              class="pi pi-search"></i><input id="search" type="text" pinputtext="" placeholder="Search"
                                              class="p-inputtext p-component p-element w-full ng-untouched ng-pristine ng-valid"></span>
              <div class="flex flex-row gap-4 md:flex-column overflow-auto">
<!--                <app-user-card class="ng-star-inserted">-->
                  <div tabindex="0"
                       class="flex flex-nowrap justify-content-between align-items-center border-1 surface-border border-round p-3 cursor-pointer select-none hover:surface-hover transition-colors transition-duration-150">
                    <div class="flex align-items-center">
                      <div class="relative md:mr-3"><img alt="user" class="w-3rem h-3rem border-circle shadow-4"
                                                         src="../../../../assets/demo/images/avatar/ionibowcher.png"><span
                        class="w-1rem h-1rem border-circle border-2 surface-border absolute bg-green-400 bg-yellow-400"
                        style="bottom: 2px; right: 2px;"></span></div>
                      <div class="flex-column hidden md:flex"><span
                        class="text-900 font-semibold block">Ioni Bowcher</span><span
                        class="block text-600 text-overflow-ellipsis overflow-hidden white-space-nowrap w-10rem text-sm">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
                      </div>
                    </div>
                    <span class="text-700 font-semibold ml-auto hidden md:inline">2d</span></div>
<!--                </app-user-card>-->
<!--                <app-user-card class="ng-star-inserted">-->
                  <div tabindex="0"
                       class="flex flex-nowrap justify-content-between align-items-center border-1 surface-border border-round p-3 cursor-pointer select-none hover:surface-hover transition-colors transition-duration-150">
                    <div class="flex align-items-center">
                      <div class="relative md:mr-3"><img alt="user" class="w-3rem h-3rem border-circle shadow-4"
                                                         src="../../../../assets/demo/images/avatar/stephenshaw.png"><span
                        class="w-1rem h-1rem border-circle border-2 surface-border absolute bg-yellow-400"
                        style="bottom: 2px; right: 2px;"></span></div>
                      <div class="flex-column hidden md:flex"><span
                        class="text-900 font-semibold block">Stephen Shaw</span><span
                        class="block text-600 text-overflow-ellipsis overflow-hidden white-space-nowrap w-10rem text-sm">Consequat mauris nunc congue nisi vitae suscipit.</span>
                      </div>
                    </div>
                    <span class="text-700 font-semibold ml-auto hidden md:inline">2d</span></div>
<!--                </app-user-card>-->
<!--                <app-user-card class="ng-star-inserted">-->
                  <div tabindex="0"
                       class="flex flex-nowrap justify-content-between align-items-center border-1 surface-border border-round p-3 cursor-pointer select-none hover:surface-hover transition-colors transition-duration-150">
                    <div class="flex align-items-center">
                      <div class="relative md:mr-3"><img alt="user" class="w-3rem h-3rem border-circle shadow-4"
                                                         src="../../../../assets/demo/images/avatar/xuxuefeng.png"><span
                        class="w-1rem h-1rem border-circle border-2 surface-border absolute bg-red-400 bg-yellow-400"
                        style="bottom: 2px; right: 2px;"></span></div>
                      <div class="flex-column hidden md:flex"><span
                        class="text-900 font-semibold block">Xuxue Feng</span><span
                        class="block text-600 text-overflow-ellipsis overflow-hidden white-space-nowrap w-10rem text-sm">Adipiscing tristique risus nec feugiat in fermentum posuere urna nec.</span>
                      </div>
                    </div>
                    <span class="text-700 font-semibold ml-auto hidden md:inline">2d</span></div>
<!--                </app-user-card>-->
<!--                <app-user-card class="ng-star-inserted">-->
                  <div tabindex="0"
                       class="flex flex-nowrap justify-content-between align-items-center border-1 surface-border border-round p-3 cursor-pointer select-none hover:surface-hover transition-colors transition-duration-150">
                    <div class="flex align-items-center">
                      <div class="relative md:mr-3"><img alt="user" class="w-3rem h-3rem border-circle shadow-4"
                                                         src="../../../../assets/demo/images/avatar/ivanmagalhaes.png"><span
                        class="w-1rem h-1rem border-circle border-2 surface-border absolute bg-green-400 bg-yellow-400"
                        style="bottom: 2px; right: 2px;"></span></div>
                      <div class="flex-column hidden md:flex"><span
                        class="text-900 font-semibold block">Ivan Magalhaes</span><span
                        class="block text-600 text-overflow-ellipsis overflow-hidden white-space-nowrap w-10rem text-sm">Quis nostrud exercitation ullamco laboris nisi ut</span>
                      </div>
                    </div>
                    <span class="text-700 font-semibold ml-auto hidden md:inline">2d</span></div>
<!--                </app-user-card>-->
<!--                <app-user-card class="ng-star-inserted">-->
                  <div tabindex="0"
                       class="flex flex-nowrap justify-content-between align-items-center border-1 surface-border border-round p-3 cursor-pointer select-none hover:surface-hover transition-colors transition-duration-150">
                    <div class="flex align-items-center">
                      <div class="relative md:mr-3"><img alt="user" class="w-3rem h-3rem border-circle shadow-4"
                                                         src="../../../../assets/demo/images/avatar/onyamalimba.png"><span
                        class="w-1rem h-1rem border-circle border-2 surface-border absolute bg-red-400 bg-yellow-400"
                        style="bottom: 2px; right: 2px;"></span></div>
                      <div class="flex-column hidden md:flex"><span
                        class="text-900 font-semibold block">Onyama Limba</span><span
                        class="block text-600 text-overflow-ellipsis overflow-hidden white-space-nowrap w-10rem text-sm">Excepteur sint occaecat cupidatat non proident</span>
                      </div>
                    </div>
                    <span class="text-700 font-semibold ml-auto hidden md:inline">2d</span></div>
<!--                </app-user-card>-->
                <!----></div>
            </div>
<!--          </app-chat-sidebar>-->
        </div>
        <div class="flex-1 card p-0">
<!--          <app-chat-box>-->
            <div class="flex flex-column h-full">
              <div class="flex align-items-center border-bottom-1 surface-border p-3 lg:p-6">
                <div class="relative flex align-items-center mr-3"><img alt="user.name"
                                                                        class="w-4rem h-4rem border-circle shadow-4"
                                                                        src="../../../../assets/demo/images/avatar/ionibowcher.png"><span
                  class="w-1rem h-1rem border-circle border-2 surface-border absolute bottom-0 right-0 bg-green-400"></span>
                </div>
                <div class="mr-2"><span class="text-900 font-semibold block">Ioni Bowcher</span><span class="text-700">Last active 1 hour ago</span>
                </div>
                <div class="flex align-items-center ml-auto">
                  <button pbutton="" pripple="" type="button" icon="pi pi-phone"
                          class="p-element p-ripple p-button-rounded p-button-outlined p-button-secondary mr-3 p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-phone" aria-hidden="true"></span><span class="p-ink"></span>
                  </button>
                  <button pbutton="" pripple="" type="button" icon="pi pi-ellipsis-v"
                          class="p-element p-ripple p-button-rounded p-button-outlined p-button-secondary p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-ellipsis-v" aria-hidden="true"></span><span class="p-ink"></span>
                  </button>
                </div>
              </div>
              <div class="p-3 md:px-4 lg:px-6 lg:py-4 mt-2 overflow-y-auto" style="max-height: 53vh;">
                <div class="ng-star-inserted">
                  <div class="grid grid-nogutter mb-4 ng-star-inserted">
                    <div class="mr-3 mt-1"><img alt="user.name" class="w-3rem h-3rem border-circle shadow-4"
                                                src="../../../../assets/demo/images/avatar/ionibowcher.png"></div>
                    <div class="col mt-3"><p class="text-900 font-semibold mb-3">Ioni Bowcher</p><span
                      class="text-700 inline-block font-medium border-1 surface-border p-3 white-space-normal border-round"
                      style="word-break: break-word; max-width: 80%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                      <p class="text-700 mt-3">22:25<i class="pi pi-check ml-2 text-green-400"></i></p></div>
                  </div><!----><!----></div>
                <div class="ng-star-inserted">
                  <div class="grid grid-nogutter mb-4 ng-star-inserted">
                    <div class="mr-3 mt-1"><img alt="user.name" class="w-3rem h-3rem border-circle shadow-4"
                                                src="../../../../assets/demo/images/avatar/ionibowcher.png"></div>
                    <div class="col mt-3"><p class="text-900 font-semibold mb-3">Ioni Bowcher</p><span
                      class="text-700 inline-block font-medium border-1 surface-border p-3 white-space-normal border-round"
                      style="word-break: break-word; max-width: 80%;">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
                      <p class="text-700 mt-3">22:26<i class="pi pi-check ml-2 text-green-400"></i></p></div>
                  </div><!----><!----></div>
                <div class="ng-star-inserted"><!---->
                  <div class="grid grid-nogutter mb-4 ng-star-inserted">
                    <div class="col mt-3 text-right"><span
                      class="inline-block text-left font-medium border-1 surface-border bg-primary-100 text-primary-900 p-3 white-space-normal border-round"
                      style="word-break: break-word; max-width: 80%;">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
                      <p class="text-700 mt-3">22:26 <i class="pi pi-check ml-2 text-green-400"></i></p></div>
                  </div><!----></div><!----></div>
              <div
                class="p-3 md:p-4 lg:p-6 flex flex-column sm:flex-row align-items-center mt-auto border-top-1 surface-border gap-3">
                <input id="message" type="text" pinputtext="" placeholder="Type a message"
                       class="p-inputtext p-component p-element flex-1 w-full sm:w-auto border-round ng-untouched ng-pristine ng-valid">
                <div class="flex w-full sm:w-auto gap-3">
                  <button pripple=""
                          class="p-ripple p-element p-button p-button-secondary w-full sm:w-auto justify-content-center text-xl">
                    😀<span class="p-ink"></span></button>
                  <button pbutton="" pripple="" label="Send" icon="pi pi-send"
                          class="p-element p-ripple w-full sm:w-auto p-button p-component"><span
                    class="p-button-icon p-button-icon-left pi pi-send" aria-hidden="true"></span><span
                    class="p-button-label">Send</span><span class="p-ink"></span></button>
                </div>
              </div>
            </div>
<!--            <p-overlaypanel styleclass="w-full sm:w-30rem" class="p-element ng-tns-c62-102 ng-star-inserted">-->
<!--              &lt;!&ndash;&ndash;&gt;</p-overlaypanel>-->
<!--          </app-chat-box>-->
        </div>
      </div>
    </div>
  </div>
</div>
