<p-dialog [(visible)]="displayDialog" header="Task" [modal]="true" [closable]="false">
  <form [formGroup]="taskForm">
    <div class="p-field">
      <label for="title">Title</label>
      <input id="title" type="text" pInputText formControlName="title" />
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea id="description" pInputTextarea rows="3" formControlName="description"></textarea>
    </div>
    <div class="p-field">
      <label for="priority">Priority</label>
      <p-dropdown [options]="['Low','Medium','High']" formControlName="priority"></p-dropdown>
    </div>
    <div class="p-field">
      <label for="dueDate">Due Date</label>
      <p-calendar formControlName="dueDate" dateFormat="yy-mm-dd"></p-calendar>
    </div>
    <div class="p-field-checkbox">
    <!--;Research what binary="true" means-->
      <!--      <p-checkbox formControlName="completed" binary="true"></p-checkbox>-->
      <p-checkbox formControlName="completed" ></p-checkbox>
      <label for="completed">Completed</label>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" (onClick)="cancel()" class="p-button-secondary"></p-button>
    <p-button label="Save" (onClick)="submit()"></p-button>
  </ng-template>
</p-dialog>
