<div class="system-info-container">
  <p-card header="Job Candidates" [style]="{'margin-bottom': '20px'}">
    <div class="card-actions">
      <p-button
        label="Add New"
        icon="pi pi-plus"
        (onClick)="openNew()">
      </p-button>

      <p-button
        label="Refresh"
        icon="pi pi-refresh"
        (onClick)="refresh()"
        [loading]="loading">
      </p-button>
    </div>
  </p-card>

  <p-table
    [value]="systemInfoList"
    [columns]="cols"
    [loading]="loading"
    selectionMode="single"
    [(selection)]="selectedSystemInfo"
    (onRowSelect)="onRowSelect($event)"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    responsiveLayout="scroll">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-systemInfo let-columns="columns">
      <tr>
        <td>{{ systemInfo.databaseLogID }}</td>
        <td>{{ systemInfo.postTime }}</td>
        <td>{{ systemInfo.databaseUser }}</td>
        <td>{{ systemInfo.event }}</td>
        <td>{{ systemInfo.schema }}</td>
        <td>{{ systemInfo.object }}</td>
        <td>{{ systemInfo.tsql }}</td>
        <td>{{ systemInfo.xmlEvent }}</td>
        <td>
          <p-button icon="pi pi-pencil" class="p-button-text p-button-sm"
                    (onClick)="editSystemInfo(systemInfo)"></p-button>
          <p-button icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger"
                    (onClick)="deleteSystemInfo(systemInfo)"></p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" class="text-center">No Database Log found.</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Create/Edit Dialog -->
  <p-dialog
    header="{{ editing ? 'Edit Database Log' : 'Add New Database Log' }}"
    [(visible)]="displayDialog"
    [modal]="true"
    [style]="{width: '500px'}"
    [closable]="false">

    <form [formGroup]="systemInfoForm" class="p-fluid">


      <div class="p-field">
        <label for="postTime">Post Time</label>
        <input id="postTime" type="text" pInputText formControlName="postTime"/>
      </div>

      <div class="p-field">
        <label for="databaseUser">Database User</label>
        <input id="databaseUser" type="text" pInputText formControlName="databaseUser"/>
      </div>

      <div class="p-field">
        <label for="event">Event</label>
        <input id="event" type="text" pInputText formControlName="event"/>
      </div>

      <div class="p-field">
        <label for="schema">Schema</label>
        <input id="schema" type="text" pInputText formControlName="schema"/>
      </div>

      <div class="p-field">
        <label for="object">Object</label>
        <input id="object" type="text" pInputText formControlName="object"/>
      </div>

      <div class="p-field">
        <label for="tsql">TSQL</label>
        <textarea id="tsql" pInputTextarea rows="3" formControlName="tsql"></textarea>
      </div>

      <div class="p-field">
        <label for="xmlEvent">xmlEvent</label>
        <textarea id="xmlEvent" pInputTextarea rows="3" formControlName="xmlEvent"></textarea>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times" class="p-button-secondary"
                (onClick)="hideDialog()"></p-button>
      <p-button label="Save" icon="pi pi-check" (onClick)="saveSystemInfo()"></p-button>
    </ng-template>
  </p-dialog>

  <!-- Toast Messages -->
  <p-toast position="top-right"></p-toast>
</div>
