<div class="card">
    <div class="font-semibold text-xl mb-4">External Employees</div>
</div>

<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedEmployees()" [disabled]="!selectedEmployees || !selectedEmployees.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="employees()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedEmployees"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} employees"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage External Employees</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th style="min-width: 16rem">Business Entity ID</th>
            <th pSortableColumn="nationalIDNumber" style="min-width:16rem">
                National ID Number
                <p-sortIcon field="nationalIDNumber" />
            </th>

            <th pSortableColumn="loginID" style="min-width:16rem">
                Login ID
                <p-sortIcon field="loginID" />
            </th>

            <th pSortableColumn="jobTitle" style="min-width:16rem">
                Job Title
                <p-sortIcon field="jobTitle" />
            </th>

            <th pSortableColumn="birthDate" style="min-width:16rem">
                Birth Date
                <p-sortIcon field="birthDate" />
            </th>

            <th pSortableColumn="maritalStatus" style="min-width:16rem">
                Marital Status
                <p-sortIcon field="maritalStatus" />
            </th>
            <th pSortableColumn="gender" style="min-width:16rem">
                Gender
                <p-sortIcon field="gender" />
            </th>
            <th pSortableColumn="hireDate" style="min-width:16rem">
                Hire Date
                <p-sortIcon field="hireDate" />
            </th>
            <th pSortableColumn="vacationHours" style="min-width:16rem">
                Vacation Hours
                <p-sortIcon field="vacationHours" />
            </th>

            <th pSortableColumn="sickLeaveHours" style="min-width:16rem">
                Sick Leave Hours
                <p-sortIcon field="sickLeaveHours" />
            </th>

            <th pSortableColumn="yearsInService" style="min-width:16rem">
                Years In Service
                <p-sortIcon field="yearsInService" />
            </th>

            <th pSortableColumn="suggestedBonus" style="min-width:16rem">
                Suggested Bonus
                <p-sortIcon field="suggestedBonus" />
            </th>

            <th pSortableColumn="salary" style="min-width:16rem">
                Salary
                <p-sortIcon field="salary" />
            </th>
            <th pSortableColumn="minimumRaiseGiven" style="min-width:16rem">
                Minimum Raise Given
                <p-sortIcon field="minimumRaiseGiven" />
            </th>
            <th pSortableColumn="entityVersion" style="min-width:16rem">
                Entity Version
                <p-sortIcon field="entityVersion" />
            </th>
            <th pSortableColumn="modifiedDate" style="min-width:16rem">
                Modified Date
                <p-sortIcon field="modifiedDate" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-employee>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="employee" />
            </td>
            <td style="min-width: 12rem">{{ employee.businessEntityID }}</td>
            <td style="min-width: 16rem">{{ employee.nationalIDNumber }}</td>
            <td style="min-width: 16rem">{{ employee.loginID }}</td>
            <td style="min-width: 16rem">{{ employee.jobTitle }}</td>
            <td style="min-width: 12rem">{{ employee.birthDate }}</td>
            <td style="min-width: 16rem">{{ employee.maritalStatus }}</td>
            <td style="min-width: 16rem">{{ employee.gender }}</td>
            <td style="min-width: 16rem">{{ employee.hireDate }}</td>
            <td style="min-width: 12rem">{{ employee.vacationHours }}</td>
            <td style="min-width: 16rem">{{ employee.sickLeaveHours }}</td>
            <td style="min-width: 16rem">{{ employee.yearsInService }}</td>
            <td style="min-width: 16rem">{{ employee.suggestedBonus }}</td>
            <td style="min-width: 12rem">{{ employee.salary }}</td>
            <td style="min-width: 16rem">{{ employee.minimumRaiseGiven }}</td>
            <td style="min-width: 16rem">{{ employee.entityVersion }}</td>
            <td style="min-width: 16rem">{{ employee.modifiedDate }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editEmployee(employee)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteEmployee(employee)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="employeeDialog" [style]="{ width: '450px' }" header="Employee Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <!--            <img [src]="'https://primefaces.org/cdn/primeng/images/demo/employee/' + employee.image" [alt]="employee.image" class="block m-auto pb-4" *ngIf="employee.image" />-->
            <!--            <div>-->
            <!--                <label for="name" class="block font-bold mb-3">Name</label>-->
            <!--                <input type="text" pInputText id="name" [(ngModel)]="employee.Name" required autofocus fluid />-->
            <!--                <small class="text-red-500" *ngIf="submitted && !employee.Name">Name is required.</small>-->
            <!--            </div>-->
            <!--            <div>-->
            <!--                <label for="name" class="block font-bold mb-3">Group Name</label>-->
            <!--                <input type="text" pInputText id="GroupName" [(ngModel)]="employee.GroupName" required autofocus fluid />-->
            <!--                <small class="text-red-500" *ngIf="submitted && !employee.GroupName">Group name is required.</small>-->
            <!--            </div>-->
            <div>
                <label for="name" class="block font-bold mb-3">Modified Date</label>
                <input type="text" pInputText id="GroupName" [(ngModel)]="employee.modifiedDate" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !employee.modifiedDate">ModifiedDate is required.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveEmployee()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
