<div class="p-fluid p-grid">
  <p-card header="Calendar Matching" class="p-col-12">
    <form [formGroup]="form">

      <!-- Daily Bounds Calendar 1 -->
      <h4>Calendar 1</h4>
      <div class="p-formgrid p-grid">
        <div class="p-field p-col-6">
          <label>Daily Start</label>
          <input type="time" pInputText formControlName="start" [formControl]="form.get('dailyBounds1.start')"/>
        </div>
        <div class="p-field p-col-6">
          <label>Daily End</label>
          <input type="time" pInputText formControlName="end" [formControl]="form.get('dailyBounds1.end')"/>
        </div>
      </div>

      <h5>Meetings</h5>
      <div formArrayName="calendar1">
        <div *ngFor="let meeting of meeting.controls; let i = index" [formGroupName]="i" class="p-formgrid p-grid">
          <div class="p-field p-col-5">
            <input type="time" pInputText formControlName="start" />
          </div>
          <div class="p-field p-col-5">
            <input type="time" pInputText formControlName="end" />
          </div>
          <div class="p-field p-col-2">
            <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-sm" (click)="removeMeeting('calendar1', i)"></button>
          </div>
        </div>
        <button pButton type="button" label="Add Meeting" icon="pi pi-plus" class="p-mt-2" (click)="addMeeting('calendar1')"></button>
      </div>

      <hr/>

      <!-- Daily Bounds Calendar 2 -->
      <h4>Calendar 2</h4>
      <div class="p-formgrid p-grid">
        <div class="p-field p-col-6">
          <label>Daily Start</label>
          <input type="time" pInputText [formControl]="form.get('dailyBounds2.start')"/>
        </div>
        <div class="p-field p-col-6">
          <label>Daily End</label>
          <input type="time" pInputText [formControl]="form.get('dailyBounds2.end')"/>
        </div>
      </div>

      <h5>Meetings</h5>
      <div formArrayName="calendar2">
        <div *ngFor="let meeting of calendar2.controls; let i = index" [formGroupName]="i" class="p-formgrid p-grid">
          <div class="p-field p-col-5">
            <input type="time" pInputText formControlName="start" />
          </div>
          <div class="p-field p-col-5">
            <input type="time" pInputText formControlName="end" />
          </div>
          <div class="p-field p-col-2">
            <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-sm" (click)="removeMeeting('calendar2', i)"></button>
          </div>
        </div>
        <button pButton type="button" label="Add Meeting" icon="pi pi-plus" class="p-mt-2" (click)="addMeeting('calendar2')"></button>
      </div>

      <!-- Meeting Duration -->
      <div class="p-field p-mt-3">
        <label>Meeting Duration (minutes)</label>
        <input type="number" pInputText formControlName="meetingDuration"/>
      </div>

      <!-- Submit -->
      <div class="p-mt-3">
        <button pButton type="button" label="Find Matching Slots" icon="pi pi-search" (click)="submit()" [loading]="loading"></button>
      </div>
    </form>
  </p-card>

  <!-- Results -->
  <p-card header="Available Slots" class="p-col-12 p-mt-3" *ngIf="results.length">
    <p-table [value]="results" [paginator]="true" [rows]="5" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Start</th>
          <th>End</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-slot>
        <tr>
          <td>{{ slot.start }}</td>
          <td>{{ slot.end }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
