<div class="card">
    <div class="font-semibold text-xl mb-4">Employee Pay History</div>
</div>

<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
      <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedEmployeePayHistorys()" [disabled]="!selectedEmployeePayHistorys || !selectedEmployeePayHistorys.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="employeePayHistorys()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedEmployeePayHistorys"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} employeePayHistorys"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Employee Pay History</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th style="min-width: 16rem">Business Entity ID</th>
            <th pSortableColumn="rateChangeDate" style="min-width:16rem">
                Rate Change Date
                <p-sortIcon field="rateChangeDate" />
            </th>
            <th pSortableColumn="rate" style="min-width:16rem">
                Rate
                <p-sortIcon field="rate" />
            </th>
            <th pSortableColumn="payFrequency" style="min-width:16rem">
                Pay Frequency
                <p-sortIcon field="payFrequency" />
            </th>
            <th pSortableColumn="ModifiedDate" style="min-width:16rem">
                Modified Date
                <p-sortIcon field="ModifiedDate" />
            </th>

            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-employeePayHistory>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="employeePayHistory" />
            </td>
            <td style="min-width: 12rem">{{ employeePayHistory.businessEntityID }}</td>
            <td style="min-width: 16rem">{{ employeePayHistory.rateChangeDate }}</td>
            <td style="min-width: 16rem">{{ employeePayHistory.rate }}</td>
            <td style="min-width: 16rem">{{ employeePayHistory.payFrequency }}</td>
            <td style="min-width: 16rem">{{ employeePayHistory.modifiedDate }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editEmployeePayHistory(employeePayHistory)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteEmployeePayHistory(employeePayHistory)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="employeePayHistoryDialog" [style]="{ width: '450px' }" header="EmployeePayHistory Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <!--            <img [src]="'https://primefaces.org/cdn/primeng/images/demo/employeePayHistory/' + employeePayHistory.image" [alt]="employeePayHistory.image" class="block m-auto pb-4" *ngIf="employeePayHistory.image" />-->
<!--            <div>-->
<!--                <label for="name" class="block font-bold mb-3">Name</label>-->
<!--                <input type="text" pInputText id="name" [(ngModel)]="employeePayHistory.Name" required autofocus fluid />-->
<!--                <small class="text-red-500" *ngIf="submitted && !employeePayHistory.Name">Name is required.</small>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label for="name" class="block font-bold mb-3">Group Name</label>-->
<!--                <input type="text" pInputText id="GroupName" [(ngModel)]="employeePayHistory.GroupName" required autofocus fluid />-->
<!--                <small class="text-red-500" *ngIf="submitted && !employeePayHistory.GroupName">Group name is required.</small>-->
<!--            </div>-->
            <div>
                <label for="name" class="block font-bold mb-3">Modified Date</label>
                <input type="text" pInputText id="GroupName" [(ngModel)]="employeePayHistory.modifiedDate" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !employeePayHistory.modifiedDate">ModifiedDate is required.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveEmployeePayHistory()" />
    </ng-template>
</p-dialog>

<!--<p-confirmdialog [style]="{ width: '450px' }" />-->
