<!--<p>dscsdcdsc</p>-->

<!--<mat-card class="product-card mat-elevation-z2" [class.on-product-card-hover]="isActive" (mouseover)="isActive=true"-->
<!--    (mouseout)="isActive=false">-->
<!--    <mat-card-content class="image-card">-->
<!--        <a [routerLink]="['/products/details/',ProductDetails$?.id]" matTooltip="{{ProductDetails$?.title}}" matTooltipClass="example-tooltip"-->
<!--            aria-label="Product Name"><img class="preview-image" mat-card-image src="/src/assets/Upload/Default_image.jpg"-->
<!--                alt="Product cover image"></a>-->
<!--                <div *ngIf="(userData$ | async)" class="favourite mat-elevation-z4">-->
<!--                    <app-addtowishlist [productId]="product?.id"></app-addtowishlist>-->
<!--                </div>-->
<!--    </mat-card-content>-->
<!--    <mat-card-content>-->
<!--        <div class="card-title">-->
<!--            <a [routerLink]="['/products/details/',product?.id]">-->
<!--                <strong>{{ProductDetails$?.title}}</strong>-->
<!--            </a>-->
<!--        </div>-->
<!--        <p>{{ProductDetails$?.retailPrice | currency : 'ZAR '}}</p>-->
<!--        <app-add-to-cart [productId]="ProductDetails$?.id"></app-add-to-cart>-->
<!--    </mat-card-content>-->
<!--</mat-card>-->
